:root
{
  // Primary color
  --primary-100-color: #254525;
  --primary-90-color: #3B583B;
  --primary-80-color: #516A51;
  --primary-70-color: #667D66;
  --primary-50-color: #92A292;
  // Secondary color
  --secondary-100-color: #FAD79D;
  --secondary-90-color: #FADBA7;
  --secondary-70-color: #FBE3BA;
  // Gray color
  --black-color: #212429;
  --gray-4-color: #495057;
  --gray-3-color: #ACB5BD;
  --gray-2-color: #DDE2E5;
  --gray-1-color: #F8F9FA;
  --white-1-color: #FFFFFF10;
  // Validate color
  --validate-90-color: #229C57;
  --validate-50-color: #E1FCEB;
  --validate-10-color: #A9EEC21A;
  // Error color
  --error-80-color: #DA302F;
  --error-50-color: #F8E4E6;
}