@import "./fonts.scss";

@mixin primary-font {
  font-family: 'Garamond-Regular', serif;
}

@mixin text-500-font {
  font-family: 'Typold-Book-500', sans-serif
}

@mixin text-light-font {
  font-family: 'Typold-Light', sans-serif;
}

@mixin text-medium-font {
  font-family: 'Typold-Medium', sans-serif;
}

@mixin text-regular-font {
  font-family: 'Typold-Regular', sans-serif;
}

body {
  color: var(--black-color)
}

@mixin first-title {
  @include primary-font;
  font-size: 3rem;
  line-height: 4.5rem;
}

@mixin second-title {
  @include primary-font;
  font-size: 1.75rem;
  line-height: 3.5625rem;
}

@mixin third-title {
  @include primary-font;
  font-size: 2.375rem;
  line-height: 2.625rem;
}

@mixin third-title-bis {
  @include text-500-font;
  font-size: 1.75rem;
}

@mixin fourth-title {
  @include text-light-font;
  font-size: 1.3125rem;
}

@mixin action-text {
  @include text-medium-font;
  font-size: 1rem;
}

@mixin default-text {
  @include text-light-font;
  font-size: 1rem;
}

@mixin label-text {
  @include text-regular-font;
  font-size: 0.875rem;
}

@mixin small-text {
  @include text-500-font;
  font-size: 0.75rem;
}
